<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

<h2><%= pluralize(@post.comments.size, 'Comment') %>:</h2>

<div id="comments">
  <%= render @post.comments.reverse %>
</div>

<%= form_for [@post, @post.comments.new], remote: true do |form| %>
  <div class="field">
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </div>
  <div class="actions">
    <%= form.submit "Add Comment" %>
  </div>
<% end %>
